<html>

<head></head>

<body>
    <input type="hidden" name="id" />
    <input type="text" name="uname" />
    <input type="text" name="title" />
    <input type="text" name="blog" />
    <input type="submit" />
</body>

</html>