<!DOCTYPE html>
<html>

<head>

</head>

<body>
    New page
    Doctors description:

    <% doc.forEach(function(doc) { %>
    <div class="inner">
        i am here
        <h2> <%= doc.name %> </h2>

    </div>
    <% }) %>
</body>

</html>