<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form method="POST" action="/signin">
        <input type="email" name="email">
        <input type="password" name="password">
        <button onclick="window.location.href='home'">Login</button>
    </form>
</body>

</html>