<html>

<head></head>

<body>
    <form method="POST" action="/adduser">
        <input type="email" name="email" />
        <input type="password" name="password" />
        <button type="submit" onclick="window.location.href='landing_page'"></button>
    </form>
</body>

</html>